<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1>
        Altered links
    </h1>
    <h2>API's</h2>
    <ul>
        <li><a href="api/docs">Card Rater</a></li>
    </ul>
    <h2>Simulators / remote play</h2>
    <ul>
        <li>Altered on BGA: https://boardgamearena.com/gamepanel?game=altered (@VincentT, @Tisaac) [closed source]</li>
        <li>ExAltered: https://wrong-timeline.itch.io/exaltered (@Nuclehon) [closed source]</li>
        <li>Exalts Table: https://exalts-table.com/ (@pioupiou) [closed source]</li>
    </ul>
    <h2>
        Card and deck tools
    </h2>
<ul>
    <li>Altered TCG Builder (deck builder):<a href="https://altered.ajordat.com/">https://altered.ajordat.com/</a> (@Ajordat) [closed source]</li>
</ul>


Cards Database (and deck builder): http://altered-db.com/ (@Pollux Troy) [closed source]
Altered Deck: https://alteredeck.fr/ (@ErebOss) [closed source]
Custom card builder: https://kelonburst.com/card-builder (@eazy) [closed source]
Print&play PDF generator: https://altered-proxy-print.vercel.app/ (@eazy) [closed source]
Realtered: https://realtered.onrender.com/ (@Auwelord_1424) [closed source]
French starting hand simulator: http://altered-db.com/fhand/ (@Pollux Troy) [closed source]
French sealed format simulator: https://www.altered-card.com/sealed (@Mauc) [closed source]
Wisegoat Altered Card Search: https://wisegoat.eu/ (@++mantal) [closed source]

<h2>Gameplay tools</h2>
Counter 1: https://apps.mrdo.fr/altered/ (@GЯYFӨЯD) [closed source]
Counter 2: https://jessy-charlet.students-laplateforme.io/altered-counter/ (@Toki) [closed source]
Altermate: https://unique.cards/altermate/ (@Ecchy) [closed source]
Altered TCG Tracker: (@frankiscola) [closed source]
Android: https://play.google.com/store/apps/details?id=com.quince.altered
iOS: https://apps.apple.com/us/app/altered-tcg-tracker/id6532605650
French Altered Glossary: https://leshautsplateaux.ch/altered/ (@ioamon (Les Hauts Plateaux)) [closed source]

<h2>Data / API tools</h2>
Altered postman: https://github.com/Tmauc/Altered-Postman (@Mauc) [MIT]
Altered scripts: https://github.com/chardetm/altered-scripts (@Maverick) [MIT]
Altered trader: https://github.com/malexandre/altered-trader (@Thagor) [open source]
Altered card parser: https://github.com/taum/altered-card-parser (@Taum) [MIT]
AlteRate: https://github.com/Ticoche-Tougan/AlteRate/releases/ (@Ticoche) [open source]
Deckfmt: https://github.com/Taum/altered-deckfmt (@Taum) [MIT]
Python version: https://github.com/Ajordat/altered_deckfmt (@Ajordat) [MIT] (https://pypi.org/project/altered-deckfmt/)
Swift version: https://github.com/percypyan/swift-altered-deckfmt (@percypyan) [open source]
NauraaBot - Discord bot to display cards: https://github.com/Edern76/NauraaBot (@Edern ) [MIT]
Uniques ranking: https://uniquesranking.onrender.com/ (@Tristan) [closed source]
</body>
</html>